<h1>Edit content</h1>
<%= form_for @blog, url: blog_path(@blog), method: :put do |f|%>
    <div>
            <%= f.label :title %>
            <%= f.text_field :title %>  
        </div>
        <div>
            <%= f.label :content %>
            <%= f.text_area :content %>
        </div>
        <div>
            <%= f.submit ("Edit")%>
        </div>


<% end %>